.menu {
	background-color:rgb(25,28,36); 
	width: 100%;
	height:55px;
}

.color-menu {
	margin: 0;
	padding: 0;
	display: inline-block;
	background-color: #2b2b2b;
    background-repeat: no-repeat;
   	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f4f4f), to(#2b2b2b));
    background-image: -webkit-linear-gradient(#4f4f4f, #2b2b2b);
    background-image: -moz-linear-gradient(top, #4f4f4f, #2b2b2b);
    background-image: -ms-linear-gradient(#4f4f4f, #2b2b2b);
   	background-image: -o-linear-gradient(#4f4f4f, #2b2b2b);
    background-image: linear-gradient(#4f4f4f, #2b2b2b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#2b2b2b', GradientType=0);
	width: 100%;
}

ul.color-menu li {
	float: left;
	list-style: none;
	border-right: 1px solid #4f4f4f;
	position: relative;
}

.menu div {
	float:right;
	color:white;
	margin-right:5px;
}

ul.color-menu li a {
	color: white;
	display: block;
	font-family: Arial;
	font-size: 13px;
	padding: 8px 20px 10px;
	text-decoration: none;
	border-right: 1px solid #2b2b2b;
}

ul.color-menu li a:hover {
	background-color: #2b2b2b;
}

ul.color-menu li:first-child a:hover {
	border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
}

ul.color-menu li ul {
	display: none;
}

ul.color-menu li:hover ul {
	display: block;
	position: absolute;
	top: 34px;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	background-color: #2b2b2b;
	z-index: 1000;
}

ul.color-menu li:hover ul li {
	float: none;
	width: 100px;
	border-right: none;
	margin-left:-40px;
}

ul.color-menu li:hover ul li a {
	border-top: 1px solid #4f4f4f;
	border-right: none;
	padding: 6px 20px 8px;
}

ul.color-menu li:hover ul li a:hover {
	background-color: transparent;
	color: #c1deff;
}

ul.color-menu li:hover ul li:first-child a:hover {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}	