html, body {
	margin:0;
	padding:0;
	background-color:rgb(243, 245, 245);
}

.container {
	padding-left:5px;
	padding-right:5px;
	background-color:rgb(243, 245, 245);
	padding-top:5px;
	font-family:arial;
}

.info {
	width:100%;
	border-collapse:collapse;
	border: 2px solid black;
}

.border {
	border: 2px solid black;
}

.ceil {
	border: 2px solid black;
	width: 200px;
}