<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Issue Tracker</display-name>
  <description>JEE training project implementation by Yury Shamyna</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.training.issuetracker.web.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectController</display-name>
    <servlet-name>RedirectController</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.RedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.attachment.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.attachment.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBuildServlet</display-name>
    <servlet-name>AddBuildServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.build.AddBuildServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBuildServlet</servlet-name>
    <url-pattern>/builds/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildsServlet</display-name>
    <servlet-name>BuildsServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.build.BuildsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildsServlet</servlet-name>
    <url-pattern>/builds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.comment.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/comments/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddIssueServlet</display-name>
    <servlet-name>AddIssueServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.issue.AddIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddIssueServlet</servlet-name>
    <url-pattern>/issues/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditIssueServlet</display-name>
    <servlet-name>EditIssueServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.issue.EditIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditIssueServlet</servlet-name>
    <url-pattern>/issues/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuesServlet</display-name>
    <servlet-name>IssuesServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.issue.IssuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuesServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPriorityServlet</display-name>
    <servlet-name>AddPriorityServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.priority.AddPriorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPriorityServlet</servlet-name>
    <url-pattern>/priorities/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPriorityServlet</display-name>
    <servlet-name>EditPriorityServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.priority.EditPriorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPriorityServlet</servlet-name>
    <url-pattern>/priorities/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrioritiesServlet</display-name>
    <servlet-name>PrioritiesServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.priority.PrioritiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrioritiesServlet</servlet-name>
    <url-pattern>/priorities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProjectServlet</display-name>
    <servlet-name>AddProjectServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.project.AddProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProjectServlet</servlet-name>
    <url-pattern>/projects/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProjectServlet</display-name>
    <servlet-name>EditProjectServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.project.EditProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProjectServlet</servlet-name>
    <url-pattern>/projects/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectsServlet</display-name>
    <servlet-name>ProjectsServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.project.ProjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectsServlet</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResolutionServlet</display-name>
    <servlet-name>AddResolutionServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.resolution.AddResolutionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResolutionServlet</servlet-name>
    <url-pattern>/resolutions/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditResolutionServlet</display-name>
    <servlet-name>EditResolutionServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.resolution.EditResolutionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditResolutionServlet</servlet-name>
    <url-pattern>/resolutions/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolutionsServlet</display-name>
    <servlet-name>ResolutionsServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.resolution.ResolutionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolutionsServlet</servlet-name>
    <url-pattern>/resolutions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStatusServlet</display-name>
    <servlet-name>AddStatusServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.status.AddStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStatusServlet</servlet-name>
    <url-pattern>/statuses/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStatusServlet</display-name>
    <servlet-name>EditStatusServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.status.EditStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStatusServlet</servlet-name>
    <url-pattern>/statuses/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusesServlet</display-name>
    <servlet-name>StatusesServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.status.StatusesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusesServlet</servlet-name>
    <url-pattern>/statuses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeServlet</display-name>
    <servlet-name>AddTypeServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.type.AddTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeServlet</servlet-name>
    <url-pattern>/types/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTypeServlet</display-name>
    <servlet-name>EditTypeServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.type.EditTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTypeServlet</servlet-name>
    <url-pattern>/types/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypesServlet</display-name>
    <servlet-name>TypesServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.type.TypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypesServlet</servlet-name>
    <url-pattern>/types</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/users/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.user.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/users/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.user.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.user.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/profile/change-password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.user.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/profile/edit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GuestAccessDenied</display-name>
    <filter-name>GuestAccessDenied</filter-name>
    <filter-class>org.training.issuetracker.web.filters.GuestAccessDenied</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/controller</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/profile/edit</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/profile/change-password</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/download</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/upload</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/comments/add</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GuestAccessDenied</filter-name>
    <url-pattern>/issues/add</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserAndGuestAccessDenied</display-name>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <filter-class>org.training.issuetracker.web.filters.UserAndGuestAccessDenied</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/builds/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/priorities/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/statuses/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/resolutions/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/projects/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/types/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAndGuestAccessDenied</filter-name>
    <url-pattern>/users/*</url-pattern>
  </filter-mapping>
</web-app>