<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Issue Tracker</display-name>
  <description>JEE training project implementation by Yury Shamyna</description>
  
  	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
  
  <servlet>
    <servlet-name>H2Console</servlet-name>
    <servlet-class>org.h2.server.web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2Console</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.training.issuetracker.web.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueReaderServlet</display-name>
    <servlet-name>IssueReaderServlet</servlet-name>
    <servlet-class>org.training.issuetracker.web.servlets.IssueReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueReaderServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
</web-app>