<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Issue Tracker</display-name>
  <description>JEE training project implementation by Yury Shamyna</description>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>org.training.issuetracker.servlets.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.training.issuetracker.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DashboardFilter</display-name>
    <filter-name>DashboardFilter</filter-name>
    <filter-class>org.training.issuetracker.servlets.DashboardFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DashboardFilter</filter-name>
    <url-pattern>/dashboard</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EditIssue</display-name>
    <servlet-name>EditIssue</servlet-name>
    <servlet-class>org.training.issuetracker.servlets.EditIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditIssue</servlet-name>
    <url-pattern>/editissue</url-pattern>
  </servlet-mapping>
</web-app>